@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, 'Segeoui';
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color:  rgb(214, 214, 214);
    color: rgb(255, 255, 255);
    grid-template-columns: auto 1fr;

}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: rgb(54, 40, 63);
    border-right: 1px solid rgb(255, 255, 255);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 0.4s ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;

}

#sidebar.close{
    padding: 5px;
    width: 60px;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; 
    .logo{
        font-weight: 600px;
    }
}


#sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

#sidebar svg{
    flex-shrink: 0;
    color: rgb(255, 0, 0);
}

#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: rgb(0, 0, 0);
}

#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.4s ease-in-out;

    > div{
        overflow: hidden;
    }
}

#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

.dropdown-btn svg{
    transition: 0.4s ease;
}

.rotate svg:last-child{
    rotate: 180deg;
    transition: 0.4s ease-in-out;
}

#sidebar .sub-menu a{
    padding-left: 2em;
}

#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 0.4s ease;
    }
}

@media(max-width: 500px){
    body{
        grid-template-columns: 1fr;
    }

    #sidebar{
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid white;
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;
        overflow-x: scroll;

        >ul{
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
        }
        ul li{
            height: 100%;
        }
        ul a, ul .dropdown-btn{
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        ul li span, ul li:first-child, .dropdown-btn svg:last-child{
            display: none;
        }
        
        ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: black;
            border-top: 1px solid white;
            display: flex;
            justify-content: center;

            > div{
                overflow-x: auto;
            }
            li{
                display: inline-flex;
            }
            a{
                box-sizing: border-box;
                padding: 1em;
                width: auto;
                justify-content: center;
            }
        }
    }
}














.Home img{
    padding: 2%;
    width: 90%;;
    border-radius: 3vw;
}

.Homemain{
    color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    width: 40%;
    border-radius: 30px;
    background-color: rgb(74, 52, 83);
    text-align: center;
    right: 34%;
    position: absolute;
    top: 10vh;
    box-shadow: 3px 3px 3px #0000009a;
    font-size: 1.4vw;
}   
.Homemain p {
    padding: 2%;
}

.Dewylogo {
    position: absolute;
    top: 24vh;
    right: 34%;
    width: 40%;
    height: 60%;
    border-radius: 25px;
    border: 3px solid rgb(0, 0, 0);
}


.star{
    align-items: center;
    position: fixed;
    top: 0vh;
    right: 0vh;
    rotate: 15deg;
    opacity: 70%;
    animation-name: Star;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    fill: rgb(74, 52, 83);;
}
.star2{
    align-items: center;
    position: fixed;
    top: -1.4vh;
    right: 13vh;
    rotate: -15deg;
    opacity: 70%;
    animation-name: Star2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    fill: rgb(74, 52, 83);;
}
.star, .star2{
    z-index: -2;
}

@keyframes Star{
    0% {rotate: 0deg;}

    100% {rotate: 360deg;}
}
@keyframes Star2{
    0% {rotate: 0deg;}

    100% {rotate: -360deg;}
}
.shape1 {
    height: 55%;
    z-index: -2;
    width: 40%;
    position: fixed;
    bottom: -35vh;
    left: -20vh;
    opacity: 100%;
    overflow: hidden;
    border-radius: 100%;
    background-color:  rgb(74, 52, 83);
}
.shape2 {
    height: 55%;
    z-index: -2;
    width: 40%;
    position: fixed;
    bottom: -45vh;
    left: 0vh;
    opacity: 70%;
    overflow: hidden;
    border-radius: 100%;
    background-color:  rgb(74, 52, 83);

}
.shape3 {
    height: 55%;
    z-index: -2;
    width: 40%;
    position: fixed;
    bottom: -20vh;
    left: -40vh;
    opacity: 70%;
    overflow: hidden;
    border-radius: 100%;
    background-color:  rgb(74, 52, 83);

}

.shape4 {
    height: 55%;
    z-index: -2;
    width: 40%;
    position: fixed;
    bottom: -35vh;
    right: -20vh;
    opacity: 100%;
    overflow: hidden;
    border-radius: 100%;
    background-color:  rgb(74, 52, 83);
}
.shape5 {
    height: 55%;
    z-index: -2;
    width: 40%;
    position: fixed;
    bottom: -45vh;
    right: 0vh;
    opacity: 70%;
    overflow: hidden;
    border-radius: 100%;
    background-color:  rgb(74, 52, 83);

}
.shape6 {
    height: 55%;
    z-index: -2;
    width: 40%;
    position: fixed;
    bottom: -20vh;
    right: -40vh;
    opacity: 70%;
    overflow: hidden;
    border-radius: 100%;
    background-color:  rgb(74, 52, 83);

}






















.Card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -90vh;
}

.cardcontent, .cardcontent2{
    color: rgb(238, 238, 238);
    margin: 2vh;
    background-color:  rgb(74, 52, 83);
    padding: 2vh;
    text-align: center;
    border-radius: 10px;
    max-width: 80%;
    width: 50vw;
    position: relative;
    margin: 2vh;
}

.Card h1{
    background-color: rgba(0, 0, 0, 0.226);
    color: rgb(255, 255, 255);
    border-radius: 6px;
}
.Card p{
    text-decoration: underline;
    border-radius: 6px;
}



.Acardcontent, .Acardcontent2, .Acardcontent3, .Acardcontent4, .Acardcontent5, .Acardcontent6, .Acardcontent7 {
    color: rgb(238, 238, 238);
    margin: 2vh;
    background-color:  rgb(74, 52, 83);
    padding: 2vh;
    text-align: center;
    border-radius: 10px;
    max-width: 80%;
    position: relative;
    z-index: -1;
    width: 80vh;
    top: -100vh;
    left: 27.5%;
}

.ACard h1{
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 3vh;
    color: rgb(67, 43, 88);
}

.Acardcontent7 img{
    width: 50%;
    height: 40vh;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}



.Videocard {
    color: rgb(238, 238, 238);
    margin: 2vh;
    background-color:  rgb(74, 52, 83);
    padding: 2vh;
    text-align: center;
    border-radius: 10px;
    max-width: 80%;
    position: relative;
    z-index: 1;
    height: 10vw;
    width: 80vh;
    top: -100vh;
    left: 27.5%;
    overflow: hidden;
    font-size: 1vw;
}

.Videocard a{
    text-decoration: none;
    color: rgb(43, 127, 201);
    text-align: center;
    text-wrap: wrap;
    padding: 2vh;
    font-size: 2vw;
}

.Videocard p {
    width: 100%;
}